/* body {
  background-color: #232b2b;
} */

.navbar {
  overflow: hidden;
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
}

.navbar .nav-head {
  font-weight: bold;
  font-size: 1.2rem;
  flex-grow: 1;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  float: left;
  margin-left: 1.3rem;
}

.navbar .nav-right .search-icon {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.navbar .nav-center p {
  text-align: center;
  cursor: pointer;
}

.navbar .nav-center p:hover {
  color: #71797e;
}
.navbar .nav-right p:hover {
  color: #71797e;
}

.navbar .nav-center {
  flex-grow: 1;
  text-align: center;
}

.navbar .nav-right {
  text-align: right;
  margin-right: 1rem;
  cursor: pointer;
}

/****STYLE **FOR** HEADER****/

.header {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 1.8rem;
}

.header .header-detail {
  align-items: center;
  max-width: 70px;
  margin: 0 10px;
}

.header .header-detail img {
  max-width: 95%;
  border-radius: 20rem;
  cursor: pointer;
}

.header .header-detail p {
  font-size: 0.8rem;
  margin: 0;
  color: #343434;
  cursor: pointer;
}

/* .header {
  position: relative;
} */

/* .header .header-text{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/****STYLE **FOR** GLASSES****/

.glasses-front {
  margin-left: 2rem;
  display: flex;
  max-width: 100%;
}

.glasses-front p {
  font-weight: bold;
}

#sunglasses {
  margin-right: 1150px;
}

.glasses {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
  max-width: 100%;
  margin-bottom: 10rem;
}

.glasses .glasses-detail {
  max-width: 19%;
  margin-right: 10px;
  margin-bottom: 3.5rem;
}

.glasses .glasses-detail img {
  max-width: 100%;
}

.glasses .glasses-detail p {
  margin: 0;
}

.glasses-name {
  display: flex;
}

#glass-name {
  font-weight: bold;
}

#reaction {
  margin-right: 20px;
}

/****STYLE **FOR** FOOTER****/

.footer {
  text-align: left;
  margin-left: 1rem;
  background-color: #f7f7f7;
  max-width: 100%;
  margin-top: 3rem;
  font-size: 0.9rem;
}

.footer .footer-det {
  display: flex;
  margin-top: 3rem;
}

.footer .footer-2 p {
  font-weight: bold;
  margin-left: 50px;
}

.cust {
  margin-right: 155px;
  margin-left: 50px;
  margin-top: 25px;
  color: #343434;
}

.leg {
  margin-right: 195px;
  margin-top: 25px;
  color: #343434;
}

.socmed {
  margin-top: 25px;
  color: #343434;
}

#head-f {
  font-weight: bold;
}

.btn-style {
  padding: 15px;
  border-radius: 2rem;
  margin-top: 8px;
}

/**THEMES STYLE**/

.App.summer {
  background-color: #fac898;
}

.App.winter {
  background-color: #59bce1;
  color: #fff;
}

.navbar.summer {
  background-color: #d75341;
  color: #fff;
}

.navbar.winter {
  background-color: #227d9f;
  color: #fff;
}

.header.summer {
  color: #000;
}

.header.winter {
  color: #000;
}
