.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #f6f6f6;
  overflow: hidden;
  width: 100%;
  top: 0;
}

.navbar .nav-head {
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
  margin-left: 1.3rem;
}

.navbar .nav-center p {
  text-align: center;
  cursor: pointer;
}

.navbar .nav-center p:hover {
  color: #71797e;
}

.header img {
  width: 100%;
  height: 100%;
}

.glasses img {
  width: 23.74rem;
}

.glasses {
  display: flex;
}

video {
  width: 100%;
}

.footer {
  font-weight: bold;
  text-align: left;
  margin-left: 1rem;
}
